<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Crypto</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/henin/ajout-input-fille.js}"></script>
</head>
<body>

<div>
    <div class="container">
        <h1>Ajouter une vente</h1>

        <div>
            <p th:if="${msg}" class="text-danger">
                <span th:text="${msg}"></span>
            </p>
        </div>

        <form th:action="@{/sales/save}" th:object="${saleFormData}" method="POST">
            <input  type="hidden" required
                   th:field="*{sale.account}" class="form-control mb-4 col-4">

            <div>
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">Date de mise en vente</label>
                    <input id="name" type="date" required
                           th:field="*{sale.dateSale}" class="form-control mb-4 col-4">
                </div>
            </div>
            <hr>
            <div>
                <!-- sale details (this is the container where the dynamic details will be added) -->
                <div id="filles_container">
                    <div th:each="elmt, iterator :${saleFormData.saleDetails}"
                         th:id="'detail-' + iterator.index"
                         class="fille_detail card">
                        <div class="card-body">
                            <div class="form-group">
                                <label th:for="'qte-' + iterator.index"
                                       class="col-md-3 control-label">
                                    Quantité A Vendre
                                </label>
                                <input th:id="'qte-' + iterator.index"
                                       th:field="*{saleDetails[__${iterator.index}__].quantity}"
                                       class="form-control mb-4 col-4"
                                       type="number" min="0" required>
                            </div>
                            <div class="form-group">
                                <label th:for="'cryptosList-' + iterator.index"
                                       class="col-md-3 control-label">
                                    Crypto
                                </label>
                                <select th:id="'cryptosList-' + iterator.index"
                                        th:field="*{saleDetails[__${iterator.index}__].crypto}"
                                        class="form-control mb-4 col-4"
                                        required>
                                    <option th:each="elmt:${cryptoCurrencies}"
                                            th:value="${elmt.getId()}"
                                            th:text="${elmt.getName()}  + '(' + ${elmt.getSymbol()} + ')' "
                                            th:title="${elmt.getName()}  + '(' + ${elmt.getSymbol()} + ')' ">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button to add a new sale detail -->
                <button type="button" class="btn btn-secondary col-2" id="addFilleBtn">
                    Ajouter Detail Vente
                </button>
            </div>
            <hr>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Inserer</button>
            </div>
        </form>
    </div>
</div>


<footer class="bg-primary text-white text-center p-4 mt-5">
    <p>© 2025 Crypto. All Rights Reserved.</p>
</footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const containerName = 'filles_container';
        const childrenClass = '.fille_detail';
        const btnId = 'addFilleBtn';

        document.getElementById(`${btnId}`).addEventListener('click', function () {
            ajouterInputFille(`${containerName}`, `${childrenClass}`);
        });
    });
</script>
</html>
