<div th:replace="~{fragments/_layout}"></div>

<main id="main" class="main">

    <div class="container mt-4">
        <h3 class="text-center">Nos commissions actuelles</h3>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Valeur</th>
                <th>Date derniere modification</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="commission : ${currentCommissions}">
                <td th:text="${commission.getCommissionType().getName()}">Name</td>
                <td th:text="${commission.getVal()}">0</td>
                <td th:text="${commission.getAddDate()}">0</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="container mt-4">
        <h3 class="text-center">Historique des modifications de commissions</h3>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Valeur</th>
                <th>Date derniere modification</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="commission : ${commissions}">
                <td th:text="${commission.getId()}">1</td>
                <td th:text="${commission.getCommissionType().getName()}">Name</td>
                <td th:text="${commission.getVal()}">0</td>
                <td th:text="${commission.getAddDate()}">0</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>
