/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
identity/vendor
identity/.env
identity/.env.backup
identity/.env.production
identity/composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
**/.fleet
**/.idea
**/.vscode
/storage/api-docs/

# java
**/target/**
crypto/src/main/resources/application.properties
crypto/pom.xml

crypto-mobile-app/node_modules/*

crypto/src/main/resources/private-key.json
