<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Mofication taux</title>

    <meta name="description" content="" />

    <div th:replace="~{layout/link_header}"></div>
  </head>

  <body th:with="activePage='commissionsModif'">
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <div th:replace="~{back_office/layout/menu}"></div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Commissions/</span> Modifier le tarif </h4>

              <div class="row">
                <!--  Analyses des cours du site  -->
                <div class="col-xl">
                  <div class="card mb-4" id="analyse-site">
                    <div
                      class="card-header d-flex justify-content-between align-items-center"
                    >
                      <h5 class="mb-0">Faire une Analyse</h5>
                    </div>
                    <div class="card-body">
                      <form
                        th:action="@{/back-office/commissions/save}" th:object="${commissionRate}" method="POST" id="commissionForm"
                        class="form-inline mb-3"
                      >
                        <!-- Date de modification -->
                        <div class="mb-3">
                          <div class="">
                            <label class="form-label">Date de modification </label>
                            <input class="form-control" type="datetime-local" required th:field="*{addDate}"/>
                          </div>
                        </div>
                      
                        <!-- Taux -->
                        <div class="mb-3">
                            <div class="">
                              <label class="form-label">Taux [0-1] </label>
                              <input class="form-control" type="number" required min="0" max="1" step="0.01" th:field="*{rate}"/>
                            </div>
                          </div>
                        
                        <!-- Type commission -->
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-phone">Type commission </label>
                            <div th:if="${commissionTypes != null and not #lists.isEmpty(commissionTypes)}" class="">
                                <select required
                                        th:field="*{commissionType}"
                                        id="commissionList"
                                        class="form-select">
                                    <option th:each="ct:${commissionTypes}"
                                            th:value="${ct.getId()}"
                                            th:text="${ct.getName()}"></option>
                                </select>
                            </div>
                            <div th:if="${commissionTypes == null and #lists.isEmpty(commissionTypes)}">
                                <p>Aucun Type Commission!</p>
                            </div>
                          </div>

                        <button type="submit" class="btn btn-primary">
                          Valider
                        </button>
                      </form>
                    </div>
                  </div>
                </div>

                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <div th:replace="~{back_office/layout/footer}"></div>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- script -->
    <div th:replace="~{layout/script}"></div>
  </body>
</html>
