<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Tarifs</title>

    <meta name="description" content="" />

    <div th:replace="~{layout/link_header}"></div>
  </head>

  <body th:with="activePage='commissionsTarif'">
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <div th:replace="~{back_office/layout/menu}"></div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Commissions/</span> Tarifs
              </h4>

              <div class="row">
                <!--  Analyses des cours du site  -->
                <div class="card">
                  <h5 class="card-header">Nos commissions actuelles</h5>
                  <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <th>Valeur</th>
                          <th>Date derniere modification</th>
                        </tr>
                      </thead>
                      <tbody class="table-border-bottom-0">
                        <tr th:each="cr : ${currentCommissionRates}">
                          <td th:text="${cr.getCommissionType().getName()}">
                            Name
                          </td>
                          <td th:text="${cr.getRate()}">0</td>
                          <td th:text="${cr.getAddDate()}">0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="card mt-4">
                  <h5 class="card-header">
                    Historique des modifications des taux de commissions
                  </h5>
                  <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Type</th>
                          <th>Taux</th>
                          <th>Date derniere modification</th>
                        </tr>
                      </thead>
                      <tbody class="table-border-bottom-0">
                        <tr th:each="cr : ${commissionsRates}">
                          <td th:text="${cr.getId()}">1</td>
                          <td th:text="${cr.getCommissionType().getName()}">
                            Name
                          </td>
                          <td th:text="${cr.getRate()}">0</td>
                          <td th:text="${cr.getAddDate()}">0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- / Content -->

          <!-- Footer -->
          <div th:replace="~{back_office/layout/footer}"></div>
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- / Layout wrapper -->

    <!-- script -->
    <div th:replace="~{layout/script}"></div>
  </body>
</html>
