<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          class="bi bi-currency-dollar"
          viewBox="0 0 12 12"
        >
          <path
            fill="#696cff"
            d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"
          />
        </svg>
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Crypto </span>
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
    >
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li
      class="menu-item"
      th:classappend="${activePage == 'dashboard'} ? 'active'"
    >
      <a href="/back-office" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <!-- Forms & Tables -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Navigation</span>
    </li>
    <!-- Forms -->
    <li class="menu-item" th:classappend="${activePage == 'cours'} ? 'active'">
      <a href="/back-office/cours" class="menu-link">
        <i class="menu-icon tf-icons bx bx-line-chart"></i>

        <div data-i18n="Form Elements">Analyse Cours Crypto</div>
      </a>
    </li>

    <li class="menu-item" th:classappend="${activePage == 'graphe'} ? 'active'">
      <a href="/back-office/crypto-graphe" class="menu-link">
        <i class="menu-icon tf-icons bx bx-bar-chart-alt"></i>
        <div data-i18n="Crypto Graphe">Crypto Graphe</div>
      </a>
    </li>

    <li class="menu-item" th:classappend="${activePage == 'histo'} ? 'active'">
      <a href="/back-office/operations" class="menu-link">
        <i class="menu-icon tf-icons bx bx-food-menu"></i>
        <div data-i18n="Tables">Historique des opérations</div>
      </a>
    </li>

    <li
      class="menu-item"
      th:classappend="${activePage == 'commissionsListe' or activePage == 'commissionsModif' or activePage == 'commissionsTarif'} ? 'active open'"
    >
      <a class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-wallet-alt"></i>
        <div data-i18n="Tables">Commission</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item"
          th:classappend="${activePage == 'commissionsListe'} ? 'active'"
        >
          <a href="/back-office/commissions" class="menu-link">
            <div data-i18n="Container">Liste des commissions obtenue</div>
          </a>
        </li>
        <li
          class="menu-item"
          th:classappend="${activePage == 'commissionsModif'} ? 'active'"
        >
          <a href="/back-office/commissions/modif" class="menu-link">
            <div data-i18n="Fluid">Modifier le tarif</div>
          </a>
        </li>
        <li
          class="menu-item"
          th:classappend="${activePage == 'commissionsTarif'} ? 'active'"
        >
          <a href="/back-office/commissions/tarifs" class="menu-link">
            <div data-i18n="Blank">Tarif</div>
          </a>
        </li>
      </ul>
    </li>

    <li
      class="menu-item"
      th:classappend="${activePage == 'vdTransaction'} ? 'active'"
    >
      <a href="/back-office/transactions" class="menu-link">
        <i class="menu-icon tf-icons bx bx-transfer"></i>
        <div data-i18n="Tables">Validation Transaction</div>
      </a>
    </li>

    <li
      class="menu-item"
      th:classappend="${activePage == 'apercusUtilisateur'} ? 'active'"
    >
      <a href="/back-office/overview" class="menu-link">
        <i class="menu-icon tf-icons bx bx-archive"></i>
        <div data-i18n="Tables">Aperçu Utilisateur</div>
      </a>
    </li>

    <!-- Plus -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Plus </span>
    </li>
    <li class="menu-item">
      <a class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-id-card"></i>
        <div data-i18n="Account Settings">Account</div>
      </a>

      <ul class="menu-sub">
        <li
          class="menu-item"
          th:classappend="${activePage == 'dashboard'} ? 'active'"
        >
          <a href="/login/logout" class="menu-link">
            <div data-i18n="Notifications">Déconnection</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
