<div th:replace="~{fragments/_layout}"></div>

<main id="main" class="main">
    <!-- Filtres -->
    <div class="my-2">
        <form th:action="@{/operations}" method="GET" class="form-inline mb-3">
            <button type="submit" class="btn btn-primary">Filtrer</button>

            <div class="row g-10">
                <!-- Filter by date -->
                <div class="row g-10">
                    <div class="col-4 card px-3 py-3">
                        <label>Date Min :</label>
                        <input type="date" name="dateMin">
                    </div>
                    <div class="col-4 card px-3 py-3">
                        <label>Date Max :</label>
                        <input type="date" name="dateMax">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Data -->
    <div class="container mt-4">
        <h3 class="text-center">Historique des operations</h3>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Quantite</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mvt : ${mvWallets}">
                <td th:text="${mvt.getId()}"></td>
                <td th:text="${mvt.getWallet().getAccount().getPseudo()}"></td>
                <td th:text="${mvt.getDateMv()}"></td>
                <td th:text="${mvt.getQuantity()}"></td>
                <td th:text="${mvt.getTypeMvWallet().getName()}"></td>

                <td>
                    <a th:href="@{/operations/{id}(id=${mvt.getId()})}" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</html>
