<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Achat Crypto</title>

    <meta name="description" content="" />

    <div th:replace="~{layout/link_header}"></div>
  </head>

  <body th:with="activePage='market'">
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <div th:replace="~{front_office/layout/menu}"></div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light"></span>
                Vente sur le marché / Achat
              </h4>

              <div class="row">
                <div class="col-lg-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-primary">Informations sur l'achat</h5>
                      <form action="/front-office/market/buy" method="post">
                        <div class="mb-3">
                          <label for="sellerName" class="form-label">Nom du vendeur</label>
                          <input type="text" class="form-control" id="sellerName" th:value="${accountSeller.pseudo}" readonly />
                        </div>
                        <div class="mb-3">
                          <label for="cryptoName" class="form-label">Nom du Crypto</label>
                          <input type="text" class="form-control" id="cryptoName" th:value="${saleDetail.crypto.name}" readonly />
                          <input type="hidden" name="idSaleDetail" th:value="${saleDetail.id}" />
                        </div>
                        <div class="mb-3">
                          <label for="availableQuantity" class="form-label">Quantité Disponible</label>
                          <input type="text" class="form-control" id="availableQuantity" th:value="${saleDetail.quantityLeft}" readonly />
                        </div>
                        <div class="mb-3">
                          <label for="qtt" class="form-label">Quantité à Acheter</label>
                          <input type="number" class="form-control" id="qtt" name="qtt" min="1" th:max="${saleDetail.quantityLeft}" required placeholder="veuillez saisir la quantité à acheter"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Acheter</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <div th:replace="~{back_office/layout/footer}"></div>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- script -->
    <div th:replace="~{layout/script}"></div>
  </body>
</html>
